---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap"
;

@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  padding-top: 50px;
  margin-bottom: 15em !important;
  font-family: Roboto !important;
}

html {
  position: relative;
  min-height: 100%;
}

#bitkumo .footer-col {
  text-align:left;
}

#bitkumo .panel-title {
  color: #fff;
  font-size: 24px;
}

.footer h3 {
  padding-bottom:0em;
  color:#565656;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #000;
}

.footer ul {
  list-style-type: none;
  padding-left:0em;
  margin-top:1em;
}

#bitkumo .panel-plan .panel-heading {
  background-color: #ff6c00;
}

.footer a {
  color: #565656;
}

.footer li {
  color: #565656;
  padding:.1em;
  font-size:16px;
}

.footer p {
  padding: 1em;
  text-align:center;
}

.go-getter {
  font-size:48px;
  padding-bottom:1em;
}

.plan-sub {
  padding-bottom: 1.5em;
}

.main-container {
  padding: 40px 15px;
  text-align: center;
}

.distro-container {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  padding: 40px 15px;
  text-align: left;
  margin-bottom: 10em;
}

#bitkumo .td-shrink {
  width: 1%;
}

#bitkumo .distro-table {
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

.main-jumbotron {
  background-color: #000 !important;
}

a.support-link:link, a.support-link:visited {
  color: #ff6c00;
}

a.sign-up-link:link, a.sign-up-link:visited {
  color: #fff;
}

.pricing-jumbotron {
  background-color: #ffd8bb;
}

.center {
  text-align:center;
}

.main-jumbotron p {
  color: #fff;
}

#bitkumo .footer-row {
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.main-jumbotron .h1, .main-jumbotron h1 {
  color: #fff !important;
}

.pricing-container {
  padding-bottom: 0em;
}

h3.faq {
  margin-top: 1.5em;
}

p.faq {
  margin-bottom: 1.5em;
}

#bitkumo .navbar-bitkumo {
  background-color: #000000;
  border-color: #000000;
  background-image: none;
}

#bitkumo .navbar-default .navbar-brand {
  color: #ffffff;
}

#bitkumo .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e7e7e7;
}

#bitkumo .navbar-default .navbar-text {
  color: #ffffff;
}

#bitkumo .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

#bitkumo .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e7e7e7;
}

#bitkumo .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e7e7e7;
  background-color: #ff6c00;
}

#bitkumo .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e7e7e7;
  background-color: #ff6c00;
}

#bitkumo .navbar-default .navbar-toggle {
  border-color: #ff6c00;
}

#bitkumo .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ff6c00;
}

#bitkumo .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

#bitkumo .navbar-default .navbar-collapse,
#bitkumo .navbar-default .navbar-form {
  border-color: #ffffff;
}

#bitkumo .navbar-default .navbar-link {
  color: #ffffff;
}

#bitkumo .navbar-default .navbar-link:hover {
  color: #e7e7e7;
}

@media (max-width: 767px) {
  #bitkumo .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  #bitkumo .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7e7e7;
  }

  #bitkumo .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, #bitkumo .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7e7e7;
    background-color: #ff6c00;
  }
}

.panel
{
    text-align: center;
}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body
{
    padding: 0px;
    text-align: center;
}

.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash
{
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}

/* About Page */
#bitkumo .muted-row {
  background-color: #f7f7f7;
  padding:1em;
}

#bitkumo .row-normal {
  background-color: #fff;
  padding: 1em;
}

#bitkumo .about-container {
  padding:1em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5em;
}

#bitkumo .footer-padding {
  margin-bottom:25em;
}

#bitkumo .about-image {
  float: left;
  margin: .5em;
  margin-right: 2em;
}

#bitkumo .distro-image {
  height:75px;
  width:75px;
}

#bitkumo .distro-col {
  margin:1em;
}

#bitkumo .row-center {
  margin-left:auto;
  margin-right:auto;
}

#bitkumo .social-icon {
  padding:.2em;
}

#bitkumo .social a:link, a:visited {
  color:#404040;
}

#bitkumo .social a:hover {
  color:#999999;
}

/* Status Page */
#bitkumo .status-container {
  padding:1em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;
  margin-bottom: 25em;
}

#bitkumo .muted-row {
  background-color: #f7f7f7;
  padding:1em;
}

#bitkumo .row-normal {
  background-color: #fff;
  padding: 1
}

/* Contact Page */
#bitkumo .contact-container {
  padding:1em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;
  margin-bottom: 25em;
}

#bitkumo .contact-container ul {
  list-style:square;
}

#bitkumo .muted-row {
  background-color: #f7f7f7;
  padding:1em;
}

#bitkumo .row-normal {
  background-color: #fff;
  padding: 1em;
}

/* FAQ page */

#bitkumo .faq-container {
  padding:1em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  font-size:16px;
  margin-bottom: 25em;
}

a.faq-link:link, a.faq-link:visited {
  color: #ff6c00;
}

a.faq-link:link, a.faq-link:visited {
  #color: #fff;
}

a.hilight-link:link, a.hilight-link:visited {
  color: #ff6c00;
}

a.faq-hilight:link, a.hilight-link:visited {
  #color: #fff;
}

/* Blog */

.blog-index {
    margin-left: 5px;
}

.blog-index ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-index li {
    border-bottom: solid 1px gray;
    padding-bottom: 10px;
}

.post {
    margin-left: 5px;
}

.tag {
    margin-right: 5px;
    text-decoration: none;
    color: white;
}

.post-content {
    margin-top: 10px;
}

/* Docs */

.doc {
    margin-left: 5px;
}
