<footer class="footer">
  <div class="row footer-row">
    <div class="col-lg-4 col-sm-4 col-xs-6 footer-col">
      <h3>Product</h3>
      <ul>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/status">Platform Status</a></li>
        <li><a href="http://eepurl.com/bJBfWj">Status Notifications</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="https://ask.bitkumo.com">Community</a></li>
        <li><a href="https://app.bitkumo.com">Control Panel</a></li>
        <!--<li><a href="#">Documentation</a></li>!-->
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 hidden-xs footer-col">
      <h3>Social</h3>
      <ul>
        <li><a href="https://www.facebook.com/getbitkumo"><i class="fa fa-facebook-official"></i>
Facebook</a></li>
        <li><a href="https://twitter.com/getbitkumo"><i class="fa fa-twitter-square"></i>
Twitter</a></li>
        <li><a href="https://plus.google.com/u/0/b/109322989593017675398/109322989593017675398/"><i class="fa fa-google-plus-square"></i> Google+</a></li>
        <li><a href="https://www.linkedin.com/company/bitkumo"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
        <li><a href="https://github.com/bitkumo"><i class="fa fa-github-square"></i>
Github</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-6 footer-col">
      <h3>Company</h3>
      <ul>
        <li><a href="mailto:wtf@bitkumo.com">Platform Support</a></li>
        <li><a href="mailto:hello@bitkumo.com">General Inquiries</a></li>
        <!--<li><a href="#">Blog</a></li>!-->
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <p class="text-muted">Copyright &copy; 2015, Bitkumo, LLC. All rights reserved.</p>
  </div>
</footer>
