<body id="bitkumo">
    <nav class="navbar navbar-default navbar-fixed-top navbar-bitkumo">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="/images/header-logo.png" alt="BitKumo Logo">
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Docs</a></li>
               <li><a href="https://ask.bitkumo.com">Community</a></li>
              <li><a href="/#pricing">Pricing</a></li>
              <li><a href="/#faq">FAQ</a></li>
              <li><a href="https://app.bitkumo.com/auth/login">Login</a></li>
              <li>
                <a href="https://app.bitkumo.com/auth/register">
                  <strong>Sign Up</strong>
                </a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>
