#bitkumo .muted-row {
  background-color: #f7f7f7;
  padding:1em;
}

#bitkumo .row-normal {
  background-color: #fff;
  padding: 1em;
}

#bitkumo .about-container {
  padding:1em;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

#bitkumo .footer-padding {
  margin-bottom:25em;
}

#bitkumo .about-image {
  float: left;
  margin: .5em;
  margin-right: 2em;
}

#bitkumo .social-icon {
  padding:.2em;
}
